<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.1" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.15.0" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="6.0.1" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="6.0.1" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Moq" version="4.16.1" targetFramework="net461" />
  <package id="Moq.AutoMock" version="3.2.0" targetFramework="net461" />
  <package id="OfficeOpenXml.Core.ExcelPackage" version="1.0.0" targetFramework="net461" />
  <package id="Open-XML-SDK" version="2.9.1" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="6.0.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
</packages>